apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ibkr-client.fullname" . }}
  labels:
    {{- include "ibkr-client.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.secrets.dbWriteDSN }}
  db-write-dsn: {{ .Values.secrets.dbWriteDSN | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.dbReadDSN }}
  db-read-dsn: {{ .Values.secrets.dbReadDSN | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.encryptionKey }}
  encryption-key: {{ .Values.secrets.encryptionKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.ibkrAccountID }}
  ibkr-account-id: {{ .Values.secrets.ibkrAccountID | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mtlsCACert }}
  mtls-ca-cert: {{ .Values.secrets.mtlsCACert | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mtlsServerCert }}
  mtls-server-cert: {{ .Values.secrets.mtlsServerCert | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.mtlsServerKey }}
  mtls-server-key: {{ .Values.secrets.mtlsServerKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.ibkrGatewayKey }}
  ibkr-gateway-key: {{ .Values.secrets.ibkrGatewayKey | b64enc | quote }}
  {{- end }}
